html, body {
    padding: 0;
    margin: 0;
}
.tulisan {
    text-align: center;
    font-size: 20px;
}
.background {
    background-image: url('https://images.unsplash.com/photo-1444858291040-58f756a3bdd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1378&q=80');
    height: 750px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.judul {
    height: 300px;
    padding: 50px;
}
.form-container {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.textbox {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: 
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)) bottom/0 2px no-repeat,
    linear-gradient(90deg, rgb(63, 63, 63), rgb(63, 63, 63)) bottom/100% 2px no-repeat,
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)) bottom/100% no-repeat;
}